
#game-container {
  /* display: flex; */
  margin: 20px 10px;
  /* display: flex;
  flex-direction: column; */
  
}

.hide {
  display: none;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}
